body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}
.product-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto; /* Centra la lista horizontalmente */
    max-width: 600px; /* Limita el ancho de la lista */
}

.product-list-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-list-item:hover {
    transform: translateY(-2px);
}

.product-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    transition: transform 0.2s;
}

.button-container {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}

.product-list-item button {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modify-button {
    background-color: #4CAF50; /* Color verde original */
}

.delete-button {
    background-color: #FF0000; /* Color rojo */
}


.product-list-item button:hover {
    filter: brightness(90%); /* Reduce la luminosidad al pasar el mouse */
}

