<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <title>ReptileWorld</title>
</head>
<body>
    <footer>
        <div class="contact-panel" id="contact">
            <h3>Contact Us</h3>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeag3cZMuSd890KuIWYpaL5Xvwl7Sbac4--2zhLnzwWyN0hOg/viewform?embedded=true" width="640" height="689" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
    </footer>
</body>
</html>
