<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_login_register.css') }}">
    <title>Login/Register - ReptileWorld</title>
</head>
<body>
    {% include 'nav.html' %}
    <div class="login-register-container">
        <div class="panel">
            <a href="{{ url_for('login') }}" class="btn_">Login</a>
            <p class="register-link">¿No tienes una cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a></p>
        </div>
    </div>
</body>
</html>
